### Step 1. 데이터 구하기

- 주식데이터, 기상데이터 등을 이용해 직접 구해야합니다.

데이터는 https://finance.yahoo.com/quote/NQ=F?p=NQ=F 에서 2010년 1월 1일부터 2019년 12월 31일까지로 잡았습니다.

In [2]:
import os

csv_file = os.getenv('HOME')+'/aiffel/anomaly_detection/nasdaq/NQ=F.csv'

In [3]:
import pandas as pd

df = pd.read_csv(csv_file)
df.head(5)

         Date     Open     High      Low    Close  Adj Close    Volume
0  2010-01-04  1865.50  1889.00  1865.50  1886.75    1886.75  205157.0
1  2010-01-05  1886.50  1890.25  1876.00  1885.25    1885.25  208698.0
2  2010-01-06  1885.25  1891.75  1872.25  1878.50    1878.50  261274.0
3  2010-01-07  1877.75  1880.50  1865.75  1877.50    1877.50  241321.0
4  2010-01-08  1877.50  1892.50  1865.00  1890.00    1890.00  268934.0

### Step 2. 기본 통계분석으로 이상치 찾기

- 데이터의 분포를 그려보기
- z-test로 정규분포를 만족하는지 확인하기
- (정규분포를 만족하지 않으면) Time series decompose 수행후 residual로 분석하기

#### 한 단계 더 나아가기

- 왜 이상치로 분류됐는지 해석해보기
- 탐지해낸 이상치(Anomalies)는 극단치(Outlier) 인지, 특이치(Novelties)인지 생각해보기
- 이상치들을 제거/교정해야할지 내버려둘지 고민하기

### Step 3. Unsupervised Clustering 으로 이상치 찾기

- k-means로 분석하기
- DBSCAN으로 분석하기

#### 한 단계 더 나아가기  

- 왜 이상치로 분류됐는지 해석해보기
- 탐지해낸 이상치(Anomalies)는 극단치(Outlier) 인지, 특이치(Novelties)인지 생각해보기
- 이 이상치를 제거/교정해야할지 내버려둘지 고민하기

### Step 4. LSTM 오토인코더로 이상치 찾기

- 딥러닝을 위한 데이터셋 만들기
- 오토인코더 모델 생성하기
- 학습이 정상적으로 수행됐는지 확인하기

#### 한 단계 더 나아가기

- 앞선 두가지 방법과 비교하기
- 다른 이유가 뭔지 확인해보기
- 더 나은 형태의 오토인코더 모델을 만들어보기